@import url(font1/droidsans.css);
@import url(font2/droidsans.css);
@import url(font3/droidsans.css);
@import url(fonts/droidsans.css);

@import url(font1/exo.css);
@import url(font2/exo.css);
@import url(font3/exo.css);
@import url(fonts/exo.css);

@import url(font1/lucida.css);
@import url(font2/lucida.css);
@import url(font3/lucida.css);
@import url(fonts/lucida.css);

@import url(font1/mavenpro.css);
@import url(font2/mavenpro.css);
@import url(font3/mavenpro.css);
@import url(fonts/mavenpro.css);

@import url(font1/metrophobic.css);
@import url(font2/metrophobic.css);
@import url(font3/metrophobic.css);
@import url(fonts/metrophobic.css);

@import url(font1/opensans.css);
@import url(font2/opensans.css);
@import url(font3/opensans.css);
@import url(fonts/opensans.css);

@import url(font1/timesnewroman.css);
@import url(font2/timesnewroman.css);
@import url(font3/timesnewroman.css);
@import url(fonts/timesnewroman.css);

@import url(font1/trebuchet.css);
@import url(font2/trebuchet.css);
@import url(font3/trebuchet.css);
@import url(fonts/trebuchet.css);

@import url(font1/ubuntu.css);
@import url(font2/ubuntu.css);
@import url(font3/ubuntu.css);
@import url(fonts/ubuntu.css);